<h1>New addition</h1>

<form action="/wizard_add">
  <label for="form_first_number" name="add_this">
    Add this:
  </label>
  <input id="form_first_number" name="first_number" text="text">
  <label for="form_second_number"> to this: </label>
  <input id="form_second_number" name="second_number"></input>

  <button>
    Add!
  </button>
</form>
