<h1>New multiplication</h1>


<form action="/wizard_multiply">
  <label for="first_input">Multiply this:</label>
  <input id="first_input" name="first_num"></input>

 <label for="second_input">by this:</label>
  <input id="second_input" name="second_num"></input>

  <button>Multiply</button>

</form>
