<h1>New subtraction</h1>
<form action="/wizard_subtract">
  <label for="sub_num_one">Subtract this:</label>
  <input id="sub_num_one" name="first_num"></input>

   <label for="sub_num_two">from this:</label>
   <input id="sub_num_two" name="second_num"></input>

<button>Subtract!</button>

</form>
